<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>FSC Safety Manager/1oo2/compare.h</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>FSC Safety Manager/1oo2/compare.c</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>FSC Safety Manager/1oo2/config_load.h</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>FSC Safety Manager/1oo2/config_load.c</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>FSC Safety Manager/1oo2/file_1.h</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>FSC Safety Manager/1oo2/file_1.c</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>FSC Safety Manager/1oo2/file_2.h</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>FSC Safety Manager/1oo2/file_2.c</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>FSC Safety Manager/1oo2/outfile1.txt</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>FSC Safety Manager/1oo2/outfile2.txt</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
					</array>
					<key>title</key>
					<string>1oo2</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>title</key>
					<string>1oo2 Point Processing</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>FSC Safety Manager/FSC Config Ranges/FS88-501A.h</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>FSC Safety Manager/FSC Config Ranges/FS88-501A.c</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>FSC Safety Manager/FSC Config Ranges/FS88-502.h</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>FSC Safety Manager/FSC Config Ranges/FS88-502.c</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>FSC Safety Manager/FSC Config Ranges/FS88-504.h</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>FSC Safety Manager/FSC Config Ranges/FS88-504.c</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>FSC Safety Manager/FSC Config Ranges/FS88-506.h</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>FSC Safety Manager/FSC Config Ranges/FS88-506.c</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
					</array>
					<key>title</key>
					<string>FSC Config Ranges</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>FSC Safety Manager/FSC User IO Config/FSC_User_Config.h</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>FSC Safety Manager/FSC User IO Config/FSC_User_Config.c</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
					</array>
					<key>title</key>
					<string>FSC User IO Config</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>children</key>
					<array/>
					<key>title</key>
					<string>FSC-SMM</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Data Tables/Data_Table.h</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Data Tables/Data_Table.c</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Data Tables/Point_Data_Table.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
							</array>
							<key>title</key>
							<string>Data Tables</string>
							<key>type</key>
							<string>group</string>
						</dict>
						<dict>
							<key>children</key>
							<array>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Digital Processing/DI_module_1.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Digital Processing/DI_module_2.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Digital Processing/DI_module_3.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Digital Processing/DI_module_4.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Digital Processing/DI_module_5.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Digital Processing/DI_module_6.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Digital Processing/DI_module_7.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Digital Processing/DI_module_8.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Digital Processing/FSC_SM_DI.h</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Digital Processing/FSC_SM_DI.c</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
							</array>
							<key>title</key>
							<string>Digital Processing</string>
							<key>type</key>
							<string>group</string>
						</dict>
						<dict>
							<key>children</key>
							<array>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Output Writing/DO_module_1.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Output Writing/DO_module_2.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Output Writing/DO_module_3.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Output Writing/DO_module_4.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Output Writing/DO_module_5.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Output Writing/DO_module_6.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Output Writing/DO_module_7.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Output Writing/DO_module_8.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Output Writing/FSC_SM_DO.h</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Output Writing/FSC_SM_DO.c</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
							</array>
							<key>title</key>
							<string>Output Writing</string>
							<key>type</key>
							<string>group</string>
						</dict>
						<dict>
							<key>children</key>
							<array>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Point_Processing/AI_module_11.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Point_Processing/AI_module_12.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Point_Processing/AI_module_13.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Point_Processing/AI_module_14.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Point_Processing/AI_module_15.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Point_Processing/AI_module_16.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Point_Processing/AI_module_17.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Point_Processing/AI_module_18.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Point_Processing/FSC_SM_AI.h</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Point_Processing/FSC_SM_AI.c</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>FSC Safety Manager/FSC-SMM Processor Resource Allocation/Point_Processing/note.txt</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
							</array>
							<key>title</key>
							<string>Point_Processing</string>
							<key>type</key>
							<string>group</string>
						</dict>
					</array>
					<key>title</key>
					<string>FSC-SMM Processor Resource Allocation</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>FSC Safety Manager/cat1.txt</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>FSC Safety Manager/cat1 copy.txt</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>FSC Safety Manager/cpp1.c</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>FSC Safety Manager</string>
			<key>type</key>
			<string>group</string>
		</dict>
	</array>
</dict>
</plist>
